* {
    box-sizing: border-box;
}

body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
}

html {
    font-family: monospace;
    font-size: 1.4rem;
    color: #606060;
    background-color: #dbd8d8;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #750249;
    letter-spacing: 0.8px;
}

button {
    border-radius: 15px;
    background-color: #fff;
}

.user-pics {
    height: 1.6rem;
    padding-top: 0.2rem;
}

.file-input {
    text-decoration: none;
}

/* Layout */

.container {
    max-width: 980px;
    margin: 0 auto;
}

/* Nav bar*/

.main-nav-container {
    height: 60px;
}

.main-nav {
    background-color: #fff;
    background: linear-gradient(to right, #fff265, #ff921d, #fd662e, #f81638);
    padding: 10px 85px;
    border: #292929 1px solid;
    margin-bottom: 10px;
}

.main-nav a {
    width: 100px;
    text-align: center;
}

.logo {
    /* width: 90px;
    height: 30px; */
}

/* Search Bar */

.search-bar {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #292929;
}

/* Images layout */

.images-container, .memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2px;
    width: 65vw;
}

.memes-container {
    display: none;
}

.images-container img, .memes-container img {
    height: 100px;
    cursor: pointer;
}

/* Canvas */

.canvas-container {
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 6rem;
}

.editor {
    display: inline-block;
    text-align: center;
    margin: 20px;
    line-height: 30px;
}

.editor img {
    height: 20px;
    width: 20px;
}

button input {
    border: none;
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.btn {
    height: 25px;
    /* width: 20px; */
}

.text-input {
    height: 30px;
    width: 300px;
}

.menu-btn {
    display: none;
}

.menu-open .screen {
    opacity: 1;
    visibility: visible;
}

.menu-open .main-nav {
    transform: translate(0, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

footer {
    text-align: center;
    bottom: 0;
    margin-top: 150px;
    padding: 30px;
    font-size: small;
    background-color: #616161;
    color: #fff;
}

/* Helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Media Queries */

@media (max-width: 1030px) {
    .text-controller {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    .canvas-container {
        flex-direction: column-reverse;
    }
    .container {
        max-width: 100vw;
    }
    .main-nav-container {
        padding: 0px 0px;
    }
    .main-nav {
        font-size: 0.8rem;
    }
    .main-nav a {
        width: 80px;
    }
}

@media (max-width: 720px) {
    .canvas-container {
        margin-left: 4.4rem;
    }
    .editor {
        margin: 2px;
    }
    .menu-btn {
        display: block;
        margin-right: 1rem;
    }
    .main-nav-list {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 64px;
        background-color: rgb(138, 138, 138);
        border-left: 1px solid #d2d2d2;
        min-width: 120px;
        transform: translate(0, -250%);
        transition: transform .8s, box-shadow .3s;
        padding: 20px 0 ;
    }
    .menu-open .main-nav-list {
        transform: translate(0, 0);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    }
    .main-nav-list>*:not(.temp) {
        margin-inline-end: 0;
        text-align: center;
        border-bottom: 1px solid #b4b4b4;
    }
}

@media (max-width: 550px) {
    .canvas-container {
        margin-left: -0.3rem;
    }
    .main-nav-container {
        height: 40px;
        padding: 10px 0px;
        font-size: 0.8rem;
    }
    .main-nav {
        padding: 10px 4px
    }
    .main-nav a {
        width: 70px;
    }
    .text-input {
        height: 20px;
        width: 200px;
    }
    .text-controller {
        justify-content: center;
        padding: 2px;
    }
    .editor, .font-editor-part2 {
        padding: 2px;
        line-height: 10px
    }
    .canvas {
        /* height: 250px; */
        width: 100vw
    }
}